
@media screen and (max-width : 1024px){

}

@media screen and (max-width : 768px) {
    .profile{
        justify-items: center;
        grid-template-columns: auto;
    }
    .profile__avatar{
        margin-top: 42px;
    }

    .profile__content{
        width: 200px;
    }
    .profile__content-name{
        width: 196px;
        margin-top: 26px;
        font-size: 22px;
        line-height: normal;
        text-align: center;
    }
    .profile__content_subtitle{
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
    .profile__content-edit-button, #btnEdit{
        
        width: 18px;
        height: 18px;
    }
    .profile__avatar-overlay{
        top: 42px;
        left: 66px;
    }
    .gallery{
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
}

@media screen and (max-width:600px){
    .gallery{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

@media screen and (max-width:320px){

    .page{
        width: 282px;
        margin-top: 28px;
    }

    .header__logo{
        width: 126px;
        height: 24px;
    }
    .header__line{
        margin-top: 32px;
    }
    .profile{
        justify-items: center;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-columns: auto;
    }

    .profile__content{
        width: 200px;
        grid-template-rows: 2fr 1fr;
        column-gap: 0px;
    }
    .profile__content-name{
        width: 196px;
        margin-top: 26px;
        font-size: 22px;
        line-height: normal;
        text-align: center;
    }
    .profile__content-subtitle{
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    .profile__content-edit-button{
        align-self: end;
    }
    .profile__avatar-overlay{
        left: 42px;
        top: 81px;
    }
    .gallery{
        margin-top: 36px;
        grid-template-columns: repeat(1, auto);
        justify-items: center;
    }
    
    .footer{
        width: 282px;
        margin-top: 50px;
        display: flex;
        justify-content: left;
    }
    .footer__text{
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
    .pop-up__close-icon{
        top: -30px;
        right: -1px;
        width: 26px;
        height: 26px;
    }
    .pop-up__container{
        width: 282px;
        height: 322px;
        top: 125px;
    }
    
    .formulary_title{
        width: 238px;
    }
    .formulary__data{
        width: 238px;
    }
    .formulary__save-button{
        width: 238px;
    }
    .add-button-place{
        width: 270px;
        margin-top: 10px;
    }

    .template-zoom__container{
    }

    .template-zoom__image{
        width: 240px;
        height: 299px;
    }
    .formulary__data-error_active{
        width: 238px;
    }
}

@media screen and (min-width : 1280px){

}