.profile__avatar{
    width: 168px;
    height: 168px;
    margin-right: 30px;
    object-fit: cover;
    z-index: 1;
    border-radius: 50%;
}

.profile__avatar-overlay{
    width: 168px;
    height: 168px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.profile__avatar-overlay:hover{
    background-color: rgba(0,0,0,0.7);
    background-image: url("/src/images/updateProfileIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    cursor: pointer;
}

